.myfont{
	font-size: 16px;
}
.myfont1{
	font-size: 14px;
}
.btn-download{
	margin-top: 6px;
}
.row-border{
	border: solid 1px #000;
	box-shadow: 1px 1px 10px #000;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.row-border .lead{
	margin-bottom: 0px;
	padding: 10px 0;
}
.section-name{
	background: linear-gradient(141deg, #000 0%, #1fc8db 51%, #2cb5e8 75%);
}
.section-name h3{
	margin-top: 10px;
	color: white;
}
.section-personal-date{
	margin-top: 10px;
}
.interests{
	text-align: center;
}
.job{
	color: white;
}

.border-right{
	border-right: 1px;
}
.left-container{
	border-right: 5px;
	background-color: #8ecbdc;
}
.space{
  padding: 0 0 18px 0;
}
#image{
	height: 260px;
	padding-left: 7px;
}