.myfont{
	font-size: 16px;
}
.myfont1{
	font-size: 14px;
}
.myfont2{
	font-size: 11px;
}
.btn-download{
	margin-top: 6px;
}
.row-border{
	border: solid 1px #000;
	box-shadow: 1px 1px 10px #000;
	border-radius: 5px;
	margin-top: 1px;
	margin-bottom: 10px;
}
.row-border .lead{
	margin-bottom: 0px;
	padding: 10px 0;
}
.section-name{
	background: linear-gradient(141deg, #000 0%, #1fc8db 51%, #105b77 75%);
}
.section-name h3{
	margin-top: 10px;
	color: white;
}
.section-personal-date{
	margin-top: 10px;
}
.interests{
	text-align: center;
}
.job{
	color: white;
}

.border-right{
	border-right: 1px;
}
.left-container{
	border-right: 5px;
	background-color: #8ecbdc;
}
.space{
  padding: 0 0 15px 0;
}
#image{
	height: 260px;
}
.foot{
	margin-top: 260px;
}
.ontop{
	margin-top: 20px;
}
.section-right{
	background: linear-gradient(141deg, #37bf2d 0%, #1fc8db 51%, #2cb5e8 75%);
	}

.work{
	padding: 10px 0;
}
.work2{
	padding: 5px 0;
}